<p>
  {{projet?.nom}}
  {{projet?.description}}
  <img *ngFor="let uneTech of projet?.tech" [alt]="uneTech">
</p>
<div>
  Les projets utilisés dans ce projets.
  <div *ngFor="let foo of getProjets()">
    {{foo.nom}} {{foo.surnom}} {{foo.logo}}
    <img [src]="foo.logo" [alt]="'Logo de '+foo.nom">
  </div>
</div>

<!-- <div *ngFor="let foo of getProjets().keys()">
    {{getProjets().get(foo)}}
    <div *ngFor="let test of getProjets().get(foo)?.entries()"></div>
  </div>
</div> -->
<!-- {{let var = lang?.find(element => element === "test")}} -->