img {
  height: 40px;
  width: 40px;
}

article {
  background-color: white;
  border-radius: 39px;
}

section {
  // padding: {
  //   top: 45px;
  //   bottom: 30px;
  //   left: 40px;
  //   right: 40px
  // }
}