<main>
  <article>
    <span class="date">2021 - present</span>
    <hgroup>
      <h1>Licence info</h1>
      <h2>Fac des Sciences</h2>
      <h2>Montpellier, France</h2>
    </hgroup>
    <img src="../../assets/logo/LOGO_original_RVB_UM.png" alt="Logo de l'université de la faq des sciences">
  </article>
  <article>
    <span class="date">2018 - 2020</span>
    <hgroup>
      <h1>DUT info</h1>
      <h2>IUT Montpellier-Sètes</h2>
      <h2>Montpellier, France</h2>
    </hgroup>
    <img src="../../assets/logo/Logo_IUT_Petite-Taille_Noir.jpg"
      alt="Lodo de l'Institut Universitaire des Sciences de Montpellier-Sètes">
  </article>
</main>