:host {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

h1 {
  margin-top: 50px;
}

div {
  margin-top: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;

  p {
    margin-top: 5px;
  }

  h2,
  h3 {
    display: inline;
  }

  h3::before {
    content: " - ";
  }
}