<main>
  <section class="aPropos">
    <h1>Tony Nguyen</h1>
    <p>
      Basé sur Montpellier et ses alentours et en recherche de Stage désespérement
    </p>


    <a class="bouttonNeobrutal" href="./assets/CV_Tony_Nguyen.pdf" target="_blank" rel="noopener noreferrer">
      <img alt="Télécharger ">
      CV
    </a>
  </section>
  <section class="liens">
    <address>
      <div class="contactLien">
        <img src="./assets/logo/icon_gmail.svg" alt="Gmail logo. ">
        <a>/nguyentoony[at]<wbr>gmail.com</a>
      </div>
      <div class="contactLien">
        <img src="./assets/logo/icon_github.svg" alt="Gituhb logo. ">
        <a href="https://github.com/tony-nguyen1/">/tony-nguyen1</a>
      </div>
      <div class="contactLien">
        <img src="./assets/logo/icon_linkedin.svg" alt="LinkedIn logo. ">
        <a href="https://www.linkedin.com/in/nguyentoony/">/nguyentoony</a>
      </div>
    </address>
  </section>
</main>
<footer>
  <!-- 
    TODO:
    -faire un formulaire pour m'envoyer des mails
   -->
</footer>