<app-filtre [lang]="lang" (newItemEvent)="showME($event)"></app-filtre>
<div *ngFor="let unProjet of projets">
  <!-- Récupérer le langage utilisé par unProjet et vérifier si current match avec un surnom de langage -->
  <!-- <div *ngIf="showAProject(unProjet) as value; else elseBlock">
    This project match with the filter {{value}}
  </div>
  <ng-template #elseBlock>
    This project does not match with the filter
  </ng-template> -->
  <app-projet [projet]="unProjet" [lang]="lang" [langageFiltre]="current"
    [ngClass]="{'hidden':current.size!=0&&!showAProject(unProjet)}">
  </app-projet>
</div>