.hidden {
  display: none;
}

main {
  background-color: #F0F0F0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "filtre"
    "carte ";
  // overflow-x: hidden;
  row-gap: 70px;
  padding: 20px;
  // padding-top: 140px;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 11fr;
    grid-template-areas:
      "filtre carte";
    column-gap: 20px;
    // row-gap: 140px;
    padding-top: 140px;
    // overflow-x: hidden;
  }
}