.hidden {
  display: none;
}

:host {
  background-color: #F0F0F0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "filtre"
    "carte ";
  overflow-x: hidden;
  row-gap: 35px;
  padding: 20px;
}